<div class="container-fluid">
    <img src="https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg?semt=ais_hybrid" 
         class="custom-background img-fluid">
</div>

<div class="form-container">
    <h2 class="text-center">Login Here</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Email -->
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button class="btn-submit" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>

        <!-- Link to Register Page -->
        <a routerLink="/register" class="link-login">Don't have an account? Register</a>
    </form>
</div>


